.nav_bar {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
  display: block;
}

.hamburger {
  margin-right: 20px;
  display: none;
  flex-direction: column;

}

i {
    padding: 10px;
}

.small_image {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

button:hover {
    transform: scale(1.1);
    .dropdown_menu {
      display: flex;
      position: absolute;
    }
  }

.dropdown_menu {
    position: absolute;
    width: 250px;
    top: 40px;
    right: 0px;
    border-radius: 5px;
    background-color: #222325e0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    animation: slide 0.1s linear;
    transform-origin: top;
    text-align: right;
  }
  .dropdown_menu:before {
    content: "";
    position: absolute;
    align-self: right;
    border: 8px solid transparent;
    border-bottom: 8px solid rgb(117, 185, 130);
    right: 33px;
    top: -10px;
    margin-bottom: 3px;
    vertical-align: bottom;
  }
  
  .dropdown_menuItem {
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 14px;
    margin: auto;
    color: rgb(247, 243, 243);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: transparent;
    outline: none;
    display: block;
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 80%;
    }

  }

  .search_bar input {
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    border: transparent;
  }

  .footer-main {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    border-top: 4px solid rgba(245, 242, 240, 0.63);
    padding: 20px 0px 20px 0px;
    margin: auto;
    margin-top: 80px;
  
    p {
      bottom: -10px;
      right: 10px;
    }
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: rgb(117, 185, 130);
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 10px;
  }

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.qrCode {
  margin: 10px;
  height: 200px;
  width: 200px;
}

@media (max-width: 768px) {

  .nav_links {
    display: none;
  }

  .nav_links.active {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(53, 54, 58);

    .link {
      display: block;
      margin-top: 30px;
    }
  }

  .hamburger {
    display: flex;
    z-index: 1;
  }
}